<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Redressed&display=swap" rel="stylesheet">
    <link href='https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/summary.css') }}" type="text/css">
    <!-- <link rel="stylesheet" href="../static/css/summary.css" type="text/css"> -->
    <link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon"/>
</head>

<body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <div class="headerSearch">
        <a href="./index.html">
            <img class="imgHeader" src="../static/images/title_logo_black_cropped.svg">
        </a>
    </div>

    <div class='resultBox'>
        <div class="summary-wrapper">
            <h1 id="paperTitle"></h1>

            <div class="container">
                <div class="overlay">
                    <div class="shadowContainer">
                        <div class="shadow linearShadowTop"></div>
                        <div class="shadow linearShadowBottom"></div>
                    </div>
                    <div class="content">
                        <div class="shadowCoverTop"></div>
                        <div class="text" id="summaryText">
                        </div>
                        <div class="shadowCoverBottom"></div>
                    </div>
                </div>
            </div>

            <div class="summary-rating">
                <div class="social-buttons row">
                    <p>Share About us: </p>
                    <a href="#" class="social-button facebook col-sm"><i class="fa fa-facebook"></i></a>
                    <a href="#" class="social-button twitter col-sm"><i class="fa fa-twitter"></i></a>
                    <a href="#" class="social-button linkedin col-sm"><i class="fa fa-linkedin"></i></a>
                    <a href="#" class="social-button email col-sm"><i class="fa fa-envelope"></i></a>
                </div>

                <div class="rating-wrapper row">
                    <p>How was the summary? </p>

                    <div class="showcase">
                        <div class="rating-system1">
                            <input type="radio" name='rate2' id="star5_2"/>
                            <label for="star5_2"></label>

                            <input type="radio" name='rate2' id="star4_2"/>
                            <label for="star4_2"></label>

                            <input type="radio" name='rate2' id="star3_2"/>
                            <label for="star3_2"></label>

                            <input type="radio" name='rate2' id="star2_2"/>
                            <label for="star2_2"></label>

                            <input type="radio" name='rate2' id="star1_2"/>
                            <label for="star1_2"></label>
                            <div class="text"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="chatbot-wrapper">
            <header class="chatbot-header">
                <div class="chatbot-header-title">
                    <img class="chatbot-logo" src="../static/images/logo_black.svg">
                    <h1>PapyriChat</h1>
                </div>
                <div class="chatbot-header-options">
                </div>
            </header>

            <main class="chatbot-chat">
                <div class="msg left-msg">
                    <div class="msg-img"
                        style="background-image: url(https://image.flaticon.com/icons/svg/327/327779.svg)">
                    </div>

                    <div class="msg-bubble">
                        <div class="msg-info">
                            <div class="msg-info-name">BOT</div>
                            <div class="msg-info-time">12:45</div>
                        </div>

                        <div class="msg-text">
                            Hi, welcome to PapyriChat! I am still learning to respond.<br>
                            I will be available to Chat soon 🙂.
                        </div>
                    </div>
                </div>

                <div class="msg right-msg">
                    <div class="msg-img"
                        style="background-image: url(https://image.flaticon.com/icons/svg/145/145867.svg)">
                    </div>

                    <div class="msg-bubble">
                        <div class="msg-info">
                            <div class="msg-info-name">Mukesh</div>
                            <div class="msg-info-time">12:46</div>
                        </div>

                        <div class="msg-text">
                            Thanks Papyri 🙂!
                        </div>
                    </div>
                </div>
            </main>

            <form class="msg-inputarea">
                <input type="text" class="msg-input" placeholder="Enter your message...">
                <button type="submit" class="msg-send-btn">Send</button>
            </form>

        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src=" {{ url_for('static', filename='js/summary.js') }}"></script>
    <!-- <script src="../static/js/summary.js"></script> -->
</body>

</html>
